{:deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:dev {:extra-paths ["perf" "test"]
                 :extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.4.1"}
                              criterium/criterium {:mvn/version "0.4.5"}}}
           :test {:main-opts ["-m" "kaocha.runner"]
                  :extra-deps {org.clojure/clojurescript {:mvn/version "1.11.60"}
                               lambdaisland/kaocha {:mvn/version "1.71.1119"}
                               lambdaisland/kaocha-cljs {:mvn/version "1.4.130"}}
                  :extra-paths ["perf" "test"]}
           :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.8.2"
                                                            :git/sha "0ffdb4c"}
                          borkdude/gh-release-artifact {:git/url "https://github.com/borkdude/gh-release-artifact"
                                                        :sha "a83ee8da47d56a80b6380cbb6b4b9274048067bd"}
                          babashka/babashka.curl {:mvn/version "0.1.1"}
                          babashka/fs {:mvn/version "0.1.2"}
                          cheshire/cheshire {:mvn/version "5.10.2"}}
                   :ns-default build}}
 :paths ["src"]}
