{:deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:dev {:extra-paths ["perf" "test"]
                 :extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.4.1"}
                              criterium/criterium {:mvn/version "0.4.5"}}}
           :test {:main-opts ["-m" "kaocha.runner"]
                  :extra-deps {org.clojure/clojurescript {:mvn/version "1.11.60"}
                               lambdaisland/kaocha {:mvn/version "1.71.1119"}
                               lambdaisland/kaocha-cljs {:mvn/version "1.4.130"}}
                  :extra-paths ["perf" "test"]}
           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
                    :main-opts ["-m" "cljfmt.main" "check"]}
           :ffix   {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
                    :main-opts ["-m" "cljfmt.main" "fix"]}
           :build  {:deps {io.github.clojure/tools.build          {:mvn/version "0.9.3"}
                           slipset/deps-deploy                    {:mvn/version "0.2.0"}
                           io.github.borkdude/gh-release-artifact {:git/sha "05f8d8659e6805d513c59447ff41dc8497878462"}
                           babashka/babashka.curl                 {:mvn/version "0.1.2"}
                           babashka/fs                            {:mvn/version "0.1.6"}
                           cheshire/cheshire                      {:mvn/version "5.10.2"}}
                    :ns-default build}}}
